html,
body {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
    font-family: 'Barlow', sans-serif;
}

input {
    margin: 3px;
}

img {
    height: 19%;
    width: 19%;
    margin: 3px;
    border-radius: 5px;
}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 5px;
    width: 50%;
}

nav {
    top: 0px;
    background-color: black;
    size: 100px;

}

.link {
    text-decoration: none;
    color: white;
    transition: 0.2s;
    text-align: justify;
}

.link:after {
    content: "";
    display: inline-block;
    width: 100%;
}


.navtd {
    transition: 0.2s;
    padding-top: 15px;
    width: 25%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
nav{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.navtb {
    width: 100%;
    text-align: center;
}

.navtd:hover {
    background-color: gray;
    transition: 0.2s;
}

.info {
    border: 1px black solid;
}

.login {
    display: grid;
    place-items: center;
    margin-left: 42%;
    margin-right: 42%;
    box-shadow: 2px 2px 2px 2px #888888;
    border-radius: 5px;
}

.home {
    display: grid;
    place-items: center;
}
.border {
    box-shadow: 1px 1px 1px 1px #888888;
    border-radius: 5px;
}
.post{
    margin: 3px;
    max-width: 20%;
    overflow-wrap: break-word;
}
textarea {
    resize: none;
  }
#rbutton{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: underline;
}